[buildout]
parts =
    openerp
    supervisor
versions = versions
find-links = http://download.gna.org/pychart/


[source_repository]
path = sftp://bazaar.camptocamp.net/srv/bzr/upstream/70Official
path_specific = sftp://bazaar.camptocamp.net/srv/bzr/${erp_global:project}_openerp/${erp_global:version}/${source_profile:profile}

# openerp configurations
[openerp]
recipe = anybox.recipe.openerp:server
version = bzr ${source_repository:path}/server/ server last:1
addons = bzr ${source_repository:path_specific}/specific-addons parts/specific-addons last:1
#         bzr ${source_repository:path}/account-analytic/ parts/account-analytic last:1
#         bzr ${source_repository:path}/account-budgeting/ parts/account-budgeting last:1
#         bzr ${source_repository:path}/account-closing/ parts/account-closing last:1
#         bzr ${source_repository:path}/account-consolidation/ parts/account-consolidation last:1
#         bzr ${source_repository:path}/account-extra-addons/ parts/account-extra-addons last:1
#         bzr ${source_repository:path}/account-financial-report/ parts/account-financial-report last:1
#         bzr ${source_repository:path}/account-financial-tools/ parts/account-financial-tools last:1
#         bzr ${source_repository:path}/account-invoice-report/ parts/account-invoice-report last:1
#         bzr ${source_repository:path}/account-invoicing/ parts/account-invoicing last:1
#         bzr ${source_repository:path}/account-payment/ parts/account-payment last:1
#         bzr ${source_repository:path}/bank-addons/ parts/bank-addons last:1
#         bzr ${source_repository:path}/carriers-deliveries/ parts/carriers-deliveries last:1
#         bzr ${source_repository:path}/contract-management/ parts/contract-management last:1
#         bzr ${source_repository:path}/department-mgmt/ parts/department-mgmt last:1
#         bzr ${source_repository:path}/geoengine/ parts/geoengine last:1
#         bzr ${source_repository:path}/hr-timesheet/ parts/hr-timesheet last:1
#         bzr ${source_repository:path}/l10n_ch/ parts/l10n_ch last:1
#         bzr ${source_repository:path}/margin-analysis/ parts/margin-analysis last:1
#         bzr ${source_repository:path}/openeobject-extensions/ parts/openeobject-extensions last:1
#         bzr ${source_repository:path}/partner-contact-management/ parts/partner-contact-management last:1
#         bzr ${source_repository:path}/product-kitting/ parts/product-kitting last:1
#         bzr ${source_repository:path}/project-reporting/ parts/project-reporting last:1
#         bzr ${source_repository:path}/project-service/ parts/project-service last:1
#         bzr ${source_repository:path}/purchase-report/ parts/purchase-report last:1
#         bzr ${source_repository:path}/purchase-wkfl/ parts/purchase-wkfl last:1
#         bzr ${source_repository:path}/report-pring-send/ parts/report-pring-send last:1
#         bzr ${source_repository:path}/sale-financial/ parts/sale-financial last:1
#         bzr ${source_repository:path}/sale-report/ parts/sale-report last:1
#         bzr ${source_repository:path}/sale-wkfl/ parts/sale-wkfl last:1
#         bzr ${source_repository:path}/server-env-tools/ parts/server-env-tools last:1
#         bzr ${source_repository:path}/stock-logistic-barcode/ parts/stock-logistic-barcode last:1
#         bzr ${source_repository:path}/stock-logistic-flows/ parts/stock-logistic-flows last:1
#         bzr ${source_repository:path}/stock-logistic-report/ parts/stock-logistic-report last:1
#         bzr ${source_repository:path}/stock-logistic-tracking/ parts/stock-logistic-tracking last:1
#         bzr ${source_repository:path}/stock-logistic-warehouse/ parts/stock-logistic-warehouse last:1
#         bzr ${source_repository:path}/webkitutils/ parts/webkitutils last:1
#         bzr ${source_repository:path}// parts/ last:1
#         bzr ${source_repository:path}/addons/ parts/addons last:1
         bzr ${source_repository:path}/webclient/ parts/webclient last:1 subdir=addons


options.xmlrpc = False
options.xmlrpcs = False
options.netrpc = False


options.db_user = ${erp_global:current_instance}
options.db_name = ${erp_global:current_instance}

# Gunicorn recommends 2-4 x number_of_cpu cores.
# However, with postgres on same server it should be equals to num of core
gunicorn.workers = 4
gunicorn.entry_point = openerp:service.wsgi_server.application

[supervisor]
recipe = collective.recipe.supervisor
http-socket = unix
file = ${buildout:directory}/var/supervisord.sock
; port = 127.0.0.1:9001
supervisord-conf = ${buildout:directory}/etc/supervisord.conf
logfile = ${buildout:directory}/var/log/supervisord.log
pidfile = ${buildout:directory}/var/supervisord.pid
loglevel = info
logfile_openerp = ${buildout:directory}/var/log/openerp-stdout.log
programs =
    10 openerp (autostart=false) "${buildout:directory}/bin/start_openerp" [ --logfile "${:logfile_openerp}"] ${buildout:directory} true
    10 gunicorn_openerp "${buildout:directory}/bin/gunicorn_openerp" [ --logfile "${:logfile_openerp}"] ${buildout:directory} true


[versions]
MarkupSafe = 0.15
Pillow = 1.7.7
PyXML = 0.8.4
babel = 0.9.6
feedparser = 5.1.1
gdata = 2.0.16
lxml = 2.3.3
mako = 0.6.2
psycopg2 = 2.4.4
pychart = 1.39
pydot = 1.0.28
pyparsing = 1.5.6
python-dateutil = 1.5
python-ldap = 2.4.9
python-openid = 2.2.5
pytz = 2012b
pywebdav = 0.9.4.1
pyyaml = 3.10
reportlab = 2.5
simplejson = 2.4.0
vatnumber = 1.0
vobject = 0.8.1c
werkzeug = 0.8.3
xlwt = 0.7.3
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2
zsi = 2.0-rc3
